<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{subject}}</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>We are excited to have you on board. Please click the link below to
      verify your email address:</p>
    <a href="{{link}}">Verify Email</a>
    <p>If you did not sign up for this account, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Your Company Team</p>
  </body>
</html>